@font-face {
    src: url("../fonts/Inika.ttf");
    font-family: Inika;
}
@font-face {
    src: url('../fonts/Scandia-Regular.ttf');
    font-family: Scandia-Regular;
}
body {
    background: #171923;
    color: rgba(181, 181, 189, 0.9);
    font-family: Scandia-Regular, sans-serif;
    font-size: 14px;
    position: relative;
}
.container {
    padding: 80px 80px 0 400px;
}
.logo {
    font-size: 36px !important;
    margin: 0 auto;
    text-align: center;
    padding: 8px 0 17px;
    font-family: Scandia-Regular, sans-serif;
}
.h1 {
    font-size: 42px;
    color: whitesmoke;
    font-weight: bold;
}
.h2 {
    font-size: 36px;
    color: whitesmoke;
}
.h3 {
    font-size: 24px;
    color: whitesmoke;
}
.input {
    padding: 10px;
    border-radius: 6px;
    background: #12141c;
    border: 1px solid #4a5568;
    color: whitesmoke;
    transition: .2s;
}
.input:focus {
    border: 1px solid whitesmoke;
}
::placeholder {
    font-family: Scandia-Regular, sans-serif;
    color: #4a5568;
}
.button {
    font-family: Scandia-Regular, sans-serif !important;
}
a.button {
}
a {
    color: #eb4432 !important;
}
.classic-box {
    background: #12141c;
    border-radius: 10px;
    padding: 40px 50px;
    color: whitesmoke;
    border: 1px solid #4a5568;
    position: relative;
}
.text {
    color: rgba(181, 181, 189, 0.9);
}
.mb15 {
    margin-bottom: 15px;
}
.mb20 {
    margin-bottom: 20px;
}
.mb30 {
    margin-bottom: 30px;
}
.mrauto {
    margin-right: auto;
    width: fit-content;
}
.rounded-blue-button,
.rounded-black-button,
.rounded-red-button,
.rounded-green-button,
.rounded-yellow-button {
    color: white;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
}
.flex-1-1 {
    flex: 1 1 auto;
}
.w24p {
    width: 24%;
}
.rounded-red-button {
    background: #eb4432;
}
.rounded-black-button {
    border: 1px solid #4a5568;
    background: #171923;
}
.rounded-blue-button {
    background: #4b5fc4;
}
.rounded-green-button {
    background: #5ca143;
}
.rounded-yellow-button {
    background: #c4aa33;
}
.flex {
    display: flex;
    flex-direction: row !important;
}
.flex-col {
    flex-direction: column !important;
}
.flex-just-spbtw {
    justify-content: space-between;
}
.flex-alit-center {
    align-items: center;
}
.flex-just-start {
    justify-content: start;
}
.w100p {
    width: 100%;
}
.w1200 {
    width: 1200px;
}
.h150 {
    min-height: 150px!important;
    max-height: 150px!important;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(235, 68, 50, 0.7);
    border: 5px solid #171923;
    background-clip: padding-box;
    -webkit-border-radius: 1em;
    -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.025);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(235, 68, 50, 1);
}
::-webkit-scrollbar {
    width: 16px; /* ширина для вертикального скролла */
    height: 8px; /* высота для горизонтального скролла */
}
.back-button:hover {
    text-decoration: underline;
}
.back-button i {
    font-size: 14px;
}
.select {
    padding: 10px;
    background-color: #12141c;
    border: 1px solid #4a5568;
    border-radius: 10px;
    color: whitesmoke;
}
.whitesmoke-text {
    color: whitesmoke !important;
}
.change-lang-button {
    position: absolute;
    right: 20px;
    bottom: 20px;
    transition: .2s;
}
.change-lang-button i {
    font-size: 30px;
}
.change-lang-button:hover {
    transform: scale(1.15);
}
