@import 'nullstyle.css';
@import 'main.css';

.header {

}

.welcome {
    width: 100%;
    height: 100%;
    padding-top: 100px;
}
.welcome__container {
    width: 280px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: relative;
}
.welcome__logo {
    color: rgba(181, 181, 189, 0.9);
    border-bottom: 1px solid rgba(181, 181, 189, 0.9);
    margin-bottom: 36px;

}
.welcome__title {
    margin-bottom: 24px;
}
.welcome__input, .col-input {
    margin-bottom: 17px;
    width: 100%;
}
.welcome__text {
    color: rgba(181, 181, 189, 0.9);
    margin-bottom: 12px;
    padding: 5px 0;
}
.welcome__text a:hover {
    text-decoration: underline;
}
.welcome__img {
    position: absolute;
}
.welcome__img_1 {
    left: -700px;
}
.welcome__img_2 {
    right: -650px;
    bottom: -180px;
}

.aside {
    padding-left: 200px;
    width: 520px;
    height: 100%;
    position: fixed;
    background-color: #12141c;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.aside__logo {
    margin-top: 18px;
    width: fit-content;
    border-bottom: 1px solid rgba(181, 181, 189, 0.9);
    margin-bottom: 23px;
}
a.aside__link {
    color: rgba(181, 181, 189, 0.9) !important;
    margin-bottom: 15px;
    width: 200px;
    transition: .2s;
    font-weight: normal;
}
a.aside__link:hover {
    transform: translate(5px, 0px);
}
.aside__header {
    display: flex;
    flex-direction: column;
}
.aside__footer {
    display: flex;
    flex-direction: column;
}
.aside__link_profile {
    background: none !important;
}
.aside__link_profile:hover {
    background: none !important;
    text-decoration: underline;
}
.users__title {
    display: flex;
    align-items: center;
    margin-bottom: 46px;
}
.users__after-title-links {
    flex: 1 1 auto;
}
.users__title-link {
    margin-left: 30px;
    font-weight: normal;
}
a.users__title-link .fa-plus {
    font-size: 24px;
    transition: .2s;
}
a.users__title-link .fa-plus:hover {
    transform: scale(1.5);
}
.users__table {
    border-collapse: separate;
}
.users__tr {
    width: 100%;
}
.users__td:last-child {
    width: 300px;
}
.users__tr_head .users__td {
    background: none;
    font-weight: bold;
}
.users__td {
    font-weight: normal;
    margin: 5px 0;
    padding: 15px 10px;
    background: rgba(37, 42, 55, 0.8);
}
.users__td:nth-child(1) {
    border-radius: 10px 0 0 10px;
}
.users__td:last-child {
    border-radius: 0 10px 10px 0;
}
.users__tr:nth-child(2n) .users__td {
    background: #171923;
}
.table-action-button {
    margin: 0 10px;
    padding: 10px;
}
a.table-show-button {
    color: #4a5568 !important;
}
a.table-edit-button {
    color: #4a5568 !important;
}
.users__form-search {
    border: 1px solid #4a5568;
    background-color: #12141c;
    border-radius: 10px;
    height: 50px;
}
.users__input-search {
    border-radius: 10px 0 0 10px;
    background-color: #12141c;
    padding: 15px;
    height: 46px;
    color: whitesmoke;
}
.users__button-search {
    border-left: 1px solid #4a5568;
    border-radius: 0 10px 10px 0 ;
    padding: 15px;
    height: 46px;
    background-color: #12141c;
    color: rgba(181, 181, 189, 0.9);
}
.profile {}
.profile__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.profile__title {
    display: flex;
    align-items: center;
    margin-bottom: 46px;
}
.profile__column {
    display: flex;
    flex-direction: column;
}
.profile__row {
    display: flex;
}
a.profile__edit-button {
    background-color: whitesmoke;
    color: #12141c !important;
    padding: 6px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile__img {
    padding: 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
    background: whitesmoke;
}
.profile__name-email-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.profile__name {}
.profile__courses {
    display: flex;
    flex-direction: column;
}
.profile__course {
    display: flex;
    border: 1px solid #4a5568;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 100%;
}
.profile__course-title {
    flex: 1 1 auto;
}
.profile__course-title,
.profile__course-status,
.profile__course-button {
    height: 32px;
    padding: 8px 15px;
    border-right: 1px solid #4a5568;
}

.profile__course-button i {
    color: whitesmoke;
    font-size: 12px;
}
.profile__course-button {
    border-radius: 0 10px 10px 0;
    border-right: none;
    color: whitesmoke;
    transition: .2s;
    background: #eb4432;
}
.profile__course-button:hover {
    background: #4a5568;
}
a.profile__more {
    display: inline-block;
}
a.profile__more:hover {
    text-decoration: underline;
}
.edit__container {
}
.edit__form {
    display: flex;
    flex-direction: column;
}
.edit__input {
}
