@import 'nullstyle.css';
@import 'main.css';

.header {

}

.welcome {
    width: 100%;
    height: 100%;
    padding-top: 100px;
}

.welcome__container {
    width: 280px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: relative;
}

.welcome__logo {
    color: rgba(181, 181, 189, 0.9);
    border-bottom: 1px solid rgba(181, 181, 189, 0.9);
    margin-bottom: 36px;

}

.welcome__title {
    margin-bottom: 24px;
}

.welcome__input, .col-input {
    margin-bottom: 17px;
    width: 100%;
}

.welcome__text {
    color: rgba(181, 181, 189, 0.9);
    margin-bottom: 12px;
    padding: 5px 0;
}

.welcome__text a:hover {
    text-decoration: underline;
}

.welcome__img {
    position: absolute;
}

.welcome__img_1 {
    left: -700px;
}

.welcome__img_2 {
    right: -650px;
    bottom: -180px;
}

.aside {
    width: 320px;
    height: 100%;
    position: fixed;
    background-color: #12141c;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 9999;
}

.aside__logo {
    margin-top: 18px;
    width: fit-content;
    border-bottom: 1px solid rgba(181, 181, 189, 0.9);
    margin-bottom: 23px;
}

a.aside__link {
    color: rgba(181, 181, 189, 0.9) !important;
    margin-bottom: 15px;
    width: 200px;
    transition: .2s;
    font-weight: normal;
}

a.aside__link:hover {
    transform: translate(5px, 0px);
}

.aside__header {
    display: flex;
    flex-direction: column;
}

.aside__footer {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.aside__link_profile {
    background: none !important;
}

.aside__link_profile:hover {
    background: none !important;
    text-decoration: underline;
}

.users__title {
    display: flex;
    align-items: center;
    margin-bottom: 46px;
}

.users__after-title-links {
    flex: 1 1 auto;
}

.users__title-link {
    margin-left: 30px;
    font-weight: normal;
}

a.users__title-link .fa-plus {
    font-size: 24px;
    transition: .2s;
}

a.users__title-link .fa-plus:hover {
    transform: scale(1.5);
}

.users__table {
    border-collapse: separate;
    width: 100%;
}

.users__tr {
    width: 100%;
    height: 50px !important;
}

.users__td:last-child {
    width: 300px;
}

.users__tr_head .users__td {
    background: none;
    font-weight: bold;
}

.users__td {
    font-weight: normal;
    margin: 5px 0;
    padding: 5px 10px;
    background: rgba(37, 42, 55, 0.8);
}

.users__td-img {
    padding: 0;
}

.users__td-img img {
    width: 40px;
    height: 40px;
    background-color: whitesmoke;
    border-radius: 50%;
}

.users__td:nth-child(1) {
    border-radius: 10px 0 0 10px;
}

.users__td:last-child {
    border-radius: 0 10px 10px 0;
}

.users__tr:nth-child(2n) .users__td {
    background: #171923;
}

.table-action-button {
    margin: 0 10px;
    padding: 10px;
}

.table-action-form {
    display: inline-block;
}

.table-action-form .table-action-button {
    background: none !important;
    color: #eb4432 !important;
}

button.table-action-button {
    background: none;
    color: #eb4432;
}

a.table-show-button {
    color: #4a5568 !important;
}

a.table-edit-button {
    color: #4a5568 !important;
}

button.table-restore-button {
    color: #c4aa33 !important;
}

.users__form-search,
.courses__form-search {
    border: 1px solid #4a5568;
    background-color: #12141c;
    border-radius: 10px;
    height: 50px;
}

.users__input-search,
.courses__input-search {
    border-radius: 10px 0 0 10px;
    background-color: #12141c;
    padding: 15px;
    height: 46px;
    color: whitesmoke;
}

.users__button-search,
.courses__button-search {
    border-left: 1px solid #4a5568;
    border-radius: 0 10px 10px 0;
    padding: 15px;
    height: 46px;
    background-color: #12141c;
    color: rgba(181, 181, 189, 0.9);
}

.profile {
}

.profile__container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 1000px;
}

.profile__title {
    display: flex;
    align-items: center;
    margin-bottom: 46px;
}

.profile__column {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
}

.profile__column_courses {
    margin-left: 60px;
}

.profile__row {
    display: flex;
}

a.profile__edit-button {
    background-color: whitesmoke;
    color: #12141c !important;
    padding: 6px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile__img {
    padding: 2px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
    background: whitesmoke;
}

.profile__name-email-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile__name {
}

.profile__courses {
    display: flex;
    flex-direction: column;
}

.profile__course {
    display: flex;
    border: 1px solid #4a5568;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.profile__course-title {
    flex: 1 1 auto;
    max-width: 300px;
}

.profile__course-title,
.profile__course-status,
.profile__course-button {
    padding: 10px;
    height: fit-content;
    border-right: 1px solid #4a5568;
}

a.profile__course-button i {
    color: whitesmoke;
    font-size: 12px;
}

a.profile__course-button {
    border-radius: 0 10px 10px 0;
    border-right: none;
}

a.profile__course-button {
    color: whitesmoke !important;
}

a.profile__more {
    display: inline-block;
}

a.profile__more:hover {
    text-decoration: underline;
}

.edit__container {
}

.edit__form {
    display: flex;
    flex-direction: column;
}

.edit__input {
    min-width: 300px;
    min-height: 60px;
}

.create__form {
    display: flex;
    flex-direction: column;
}

nav.flex svg {
    width: 30px;
}

nav.flex span a {
}

nav > div.flex:first-child {
    display: none;
}

nav > div > div:first-child {
    margin-bottom: 10px;
}

nav.flex span {
    display: inline-block;
}

nav.flex > div > div > span {
    align-items: center;
    display: flex;
    margin-bottom: 10px;
}

nav.flex > div > div > span > a,
nav.flex > div > div > span > span > span {
    margin: 0 5px;
    font-size: 20px;
    display: none;
}

nav.flex > div > div > span > span > span:first-child,
nav.flex > div > div > span > a:first-child,
nav.flex > div > div > span > a:nth-child(2),
nav.flex > div > div > span > a:last-child,
nav.flex > div > div > span > a:nth-last-child(-n+2) {
    display: inline-block;
}

.courses {
    overflow: hidden;
    position: relative;
}

.courses__row {
    display: flex;
    flex-wrap: wrap;
}

.courses__item {
    position: relative;
    width: 570px;
    padding: 25px 30px;
    margin: 0 60px 60px 0;
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-left: 25px solid;
    border-radius: 10px 0 0 10px;
    min-height: 300px;
    height: fit-content;
    /*border-color: #4a5568;*/
}

.courses__item:nth-child(1n) {
    border-color: #eb4432;
}

.courses__item:nth-child(2n) {
    border-color: #3250EB;
}

.courses__item:nth-child(3n) {
    border-color: #62EB32;
}

.courses__item:nth-child(4n) {
    border-color: #EBB732;
}

.courses__title {
    font-weight: normal;
    margin-bottom: 30px;
}

.courses__course-title {
    font-weight: bold;
    max-width: 440px;
    word-break: break-all;
}

.courses__after-title-links {
    flex: 1 1 auto;
}

.courses__course-description {
    line-height: 1.25;
}

.courses__item:nth-child(1n) .courses__course-play:hover,
.courses__item:nth-child(1n) .courses__course-edit:hover {
    background-color: #eb4432;
    color: #171923 !important;
}

.courses__item:nth-child(2n) .courses__course-play:hover,
.courses__item:nth-child(2n) .courses__course-edit:hover {
    background-color: #3250EB;
    color: #171923 !important;
}

.courses__item:nth-child(3n) .courses__course-play:hover,
.courses__item:nth-child(3n) .courses__course-edit:hover {
    background-color: #62EB32;
    color: #171923 !important;
}

.courses__item:nth-child(4n) .courses__course-play:hover,
.courses__item:nth-child(4n) .courses__course-edit:hover {
    background-color: #EBB732;
    color: #171923 !important;
}

a.courses__course-play,
a.courses__course-edit {
    border-color: #eb4432;
    color: whitesmoke !important;
    position: absolute;
    height: 50px;
    width: 50px;
    transition: .2s;
    right: 0;
}

a.courses__course-edit {
    padding: 18px 20px 20px 18px;
    border-radius: 0 0 0 10px;
    top: 0;
}

a.courses__course-play {
    padding: 18px 18px 20px 20px;
    border-radius: 10px 0 0 0;
    bottom: 0;
}

.courses__course-author {
    position: absolute;
    bottom: 25px;
    left: 30px;
}

.courses__course-assign-count {
    position: absolute;
    bottom: 55px;
    left: 30px;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
    z-index: 10000;
    flex-direction: column;
}

.modal-text {
    font-size: 20px;
}

.modal-box {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 480px;
    margin: 350px auto;
}

.modal-box button {
    margin: 10px 0;
    border-radius: 10px;
    color: whitesmoke;
    width: 200px;
    display: inline-block;
    position: absolute;
}

.confirm-button {
    left: 0;
    background: #2d3748 !important;
}

.cancel-button {
    right: 0;
    background: #eb4432 !important;
}

.modal .table-action-form {
    display: inline-block;
}

.modal-buttons {
    position: relative;
}

.modal-text span {
    font-size: 22px;
}

.modal-text-delete span {
    color: #eb4432;
}

.modal-text-restore span {
    color: #c4aa33;
}

.edit {
    padding-bottom: 40px;
}
.edit__container-course:first-child {
    margin-right: 40px;
}

.edit__container-course:nth-child(2) {
    width: 500px;
}
.edit__container-course {
    width: 100%;
}
.edit .modal-box {
    margin-top: 70px;
    border-radius: 10px;
}

.edit__container-course .edit__input {
    max-width: 100%;
    max-height: 300px;
}

.alert {
    margin: 15px 2px 15px 2px;
    padding: 10px;
    border-radius: 10px;
    border: solid 1px;
    color: #902224;
}

.alert-danger {
    background-color: #F8D7DA;
    border-color: #F5C6CB;
}

.imageuploader {
    margin: 10px;
}

.margin5 {
    margin: 5px 0px 5px 0px;
}

.assigned-users-navbar {
    display: inline-flex;
}

.assigned-users-navbar .assigned-users-navbar-elem {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 250px;
    background-color:  #171923;
}

.assigned-users-navbar a {
    display: block;
    padding: 8px 16px;
    color: whitesmoke;
    text-align:center
}

.center {
    margin: auto;
}

.margin20-0 {
    margin: 20px 0px 20px 0px;
}

.fontBig {
    font-size: 46px;
}

.font24 {
    font-size: 24px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.size-img {
    border-radius: 10px;
    width: 200px;
    height: 220px;
}

.margin-top-55 {
    margin-top: 55px;
}

.social-icons {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 0;
}
.social-icons>li {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}
.social-icons a {
    position: relative;
    background-color: #eee;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: background-color .3s ease-in-out;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: .25rem;
}
.social-icons a:hover {
    background-color: #e0e0e0;
}
.social-icons a::before {
    content: "";
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    left: .65rem;
    top: .65rem;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}
.social-icons .social-icon-twitter::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%231da1f2' d='M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z'/%3E%3C/svg%3E");
}
.social-icons .social-icon-fb::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='%234267B2' d='M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z'/%3E%3C/svg%3E");
}
.social-icons .social-icon-vk::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath fill='%232787f5' d='M545 117.7c3.7-12.5 0-21.7-17.8-21.7h-58.9c-15 0-21.9 7.9-25.6 16.7 0 0-30 73.1-72.4 120.5-13.7 13.7-20 18.1-27.5 18.1-3.7 0-9.4-4.4-9.4-16.9V117.7c0-15-4.2-21.7-16.6-21.7h-92.6c-9.4 0-15 7-15 13.5 0 14.2 21.2 17.5 23.4 57.5v86.8c0 19-3.4 22.5-10.9 22.5-20 0-68.6-73.4-97.4-157.4-5.8-16.3-11.5-22.9-26.6-22.9H38.8c-16.8 0-20.2 7.9-20.2 16.7 0 15.6 20 93.1 93.1 195.5C160.4 378.1 229 416 291.4 416c37.5 0 42.1-8.4 42.1-22.9 0-66.8-3.4-73.1 15.4-73.1 8.7 0 23.7 4.4 58.7 38.1 40 40 46.6 57.9 69 57.9h58.9c16.8 0 25.3-8.4 20.4-25-11.2-34.9-86.9-106.7-90.3-111.5-8.7-11.2-6.2-16.2 0-26.2.1-.1 72-101.3 79.4-135.6z'/%3E%3C/svg%3E");
}
.social-icons .social-icon-telegram::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%2327a7e7' d='M446.7 98.6l-67.6 318.8c-5.1 22.5-18.4 28.1-37.3 17.5l-103-75.9-49.7 47.8c-5.5 5.5-10.1 10.1-20.7 10.1l7.4-104.9 190.9-172.5c8.3-7.4-1.8-11.5-12.9-4.1L117.8 284 16.2 252.2c-22.1-6.9-22.5-22.1 4.6-32.7L418.2 66.4c18.4-6.9 34.5 4.1 28.5 32.2z'/%3E%3C/svg%3E");
}
.social-icons .social-icon-youtube::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath fill='%23ff0000' d='M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z'/%3E%3C/svg%3E");
}

/*contact form*/
.decor {
    position: relative;
    max-width: 400px;
    margin: 50px auto 0;
    background: white;
    border-radius: 30px;
}
.form-left-decoration, .form-right-decoration {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    background: #2F4F4F;
    border-radius: 20px;
}
.form-left-decoration {
    bottom: 60px;
    left: -30px;
}
.form-right-decoration {
    top: 60px;
    right: -30px;
}
.form-left-decoration:before, .form-left-decoration:after, .form-right-decoration:before, .form-right-decoration:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    border-radius: 30px;
    background: white;
}
.form-left-decoration:before {
    top: -20px;
}
.form-left-decoration:after {
    top: 20px;
    left: 10px;
}
.form-right-decoration:before {
    top: -20px;
    right: 0;
}
.form-right-decoration:after {
    top: 20px;
    right: 10px;
}
.circle {
    position: absolute;
    bottom: 80px;
    left: -55px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
}
.form-inner {
    padding: 50px;
}
.form-inner input, .form-inner textarea {
    display: block;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 10px;
    background: #E9EFF6;
    line-height: 40px;
    border-width: 0;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
}
.form-inner input[type="submit"] {
    margin-top: 30px;
    background: #2F4F4F;
    border-bottom: 4px solid #808080;
    color: white;
    font-size: 14px;
}
.form-inner textarea {
    resize: none;
}
.form-inner h3 {
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #707981;
}
/*end*/
